.mh {
	min-height: 80vh !important;
	min-height: 80% !important;
}

.mtb {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.mb {
	margin-bottom: 30px !important;
}

.mt {
	margin-top: 30px !important;
}

.nav-header {
    background: #fff;
    box-shadow: 2px 2px 2px #dcdcdc;
    width: 100%;
    padding: 20px 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn, input {
	margin-bottom: 5px !important;
}

.container {
	width: 100%;
	max-width: 1140px;
}
.d-flex {
	width: 100% !important;
}

a {
	display: inline-block;
}